/* Reset de estilos */
html, body, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Estilos gerais */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(201, 195, 195);
  }
  
  /* Estilos do cabeçalho */
  header {
    background-color: #333;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos do herói */
  #hero {
    background-image: url('img/halol.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #313130;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
  }
  
  /* Estilos dos recursos */
  #features {
    background-color: rgb(201, 195, 195);
    padding: 40px 0;
    text-align: center;
  }
  
  #features h2 {
    margin-bottom: 30px;
  }
  
  .feature {
    display: inline-block;
    width: 300px;
    margin: 0 20px;
  }
  
  .feature img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 16px;
  }
  
  /* Estilos do rodapé */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  /* Estilos do formulário de contato */
#contact {
  padding: 40px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

/* Estilos do rodapé */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
/* Estilos da página do jogo */
#game-info {
  text-align: center;
  padding: 40px;
  margin-top: -40px;
}

#game-info h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#game-info img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#game-info p {
  text-align: justify;
  margin-bottom: 20px;
}

#game-info h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

#game-info ul {
  list-style-type: none;
  margin-bottom: 20px;
}

#game-info ul li {
  margin-bottom: 5px;
}
#game-info video {
  display: block;
  margin: 0 auto;
}
/* Estilos do banner de propaganda */
.ad-banner {
  background-color: rgb(201, 195, 195);
  padding: 10px;
  text-align: center;
  margin: 20px;
}

.ad-banner img {
  max-width: 100%;
  height: auto;
}

.logo {
  position: absolute;
  top: 5px;
  right: 5px;
  margin-right: 5px; /* exemplo de espaçamento à direita da imagem */
}

.logo img {
  width: 60px; /* ajuste o valor conforme necessário */
  height: auto; /* mantém a proporção original da imagem */
}